<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img class="img" src="/assets/images/sw.png"></ion-img><!-- Logo centrad arriba-->
    <ion-card-content>
      <ion-card-header>Wiki Star Wars,ver 1.0</ion-card-header>
      <p><strong>¿Qué es Star Wars?</strong></p>
      <p>Star Wars es una franquicia espacial estadounidense creada por George Lucas, que comenzó con la película de 1977 y rápidamente se convirtió en un fenómeno de la cultura pop mundial.</p>
      <p><strong>Información de la wiki</strong></p>
      <p>Esta wiki es una enciclopedia en línea dedicada a la franquicia de Star Wars. Proporciona información detallada sobre personajes, planetas, naves espaciales, eventos y otros aspectos del universo de Star Wars. La wiki es mantenida por una comunidad de fans y se actualiza regularmente con nueva información y contenido relacionado con la saga.</p>
      <p><strong>Autores:</strong> Sergio González Urbán y Antonio Mainar Sánchez</p>
    </ion-card-content>
  </ion-card>
</ion-content>
